.hidden {
  display: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
section {
  display: block;
  unicode-bidi: isolate;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

/*common*/
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/*header*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_li,
.contacts {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo {
  padding: 16px 0;
  display: block;
}

header .logo_studio {
  color: #2e2f42;
}
.burger_btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger_icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger_btn {
    display: none;
  }
  .logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .header .container .stl_nav {
    display: flex;
    align-items: center;
  }
  .header .container .stl_nav .nav_li {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .nav-link {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover::after,
  .nav-link:focus::after {
    width: 100%;
  }
  .nav_li li:first-child .nav-link {
    color: #404bbf;
  }
  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
  .contacts {
    font-style: normal;
    display: block;
  }
  .contacts-link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
  }
  .header .container .contacts .contacts_li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .contacts {
    font-style: normal;
  }
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header .container .contacts .contacts_li {
    flex-direction: row;
    gap: 40px;
  }
}

/* mobile menu */

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.mobile-nav_li {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav_li li:first-child .mobile-nav-link {
  color: #404bbf;
}
.mobile-contacts {
  font-style: normal;
  margin-bottom: 48px;
}
.mobile-contacts_li {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.mobile-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-contacts_li li:first-child .mobile-contacts-link {
  color: #404bbf;
}
.mobile-stl_sect_three_media {
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: 40px;
}
.mobile-stl_sect_three_media_li {
  width: 40px;
  height: 40px;
}
.mobile-media_a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-media_svg {
  fill: #f4f4fd;
}
.mobile-media_a:focus,
.mobile-media_a:hover {
  background-color: #404bbf;
}

/*Mobile Modal*/

.form_sub {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_form_sub {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}
.modal_form_sub_btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_form_sub_btn:hover,
.modal_form_sub_btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal_form_sub_svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_sub_p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form_sub_form_div {
  margin-bottom: 8px;
}
.form_sub_form_div_lbl {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.form_sub_div_user {
  position: relative;
}
.user_name_inp {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user_name_inp:focus {
  border-color: #4d5ae5;
}
.user_name_inp:focus-within + .form_sub_div_svg {
  fill: #4d5ae5;
}

.form_sub_div_svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user_comment_textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_sub_form_div_div {
  margin-bottom: 16px;
}
.user_comment_textarea:focus {
  border-color: #4d5ae5;
}
.form_checkbox {
  margin-bottom: 24px;
}
.user-privacy_lbl {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.ttt {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.user-privacy:checked + .user-privacy_lbl span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.tttr {
  color: #4d5ae5;
}
.sent_btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: auto;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal_form_sub {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

/*section one*/
.sectionone {
  background-color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
}
.stl_h_larg {
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 216px;
  margin: 72px auto;
}
.stl_button {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.stl_button:hover,
.stl_button:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .sectionone {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .sectionone {
    max-width: 1440px;
  }
}

/*two section*/
.stl_sect_two {
  padding: 96px 0;
}
.stl_sect_two_li {
  display: flex;
  gap: 72px;
  flex-direction: column;
}
.stl_sect_two_svg {
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.stl_h_min {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.stl_sect_two .stl_sect_two_p {
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .stl_sect_two_li {
    display: flex;
    gap: 72px 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .stl_sect_two_lili {
    flex-basis: calc((100% - 72px) / 2);
  }
  .stl_h_min {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .stl_sect_two {
    padding: 120px 0;
  }
  .stl_sect_two_li {
    display: flex;
    gap: 24px;
  }
  .stl_sect_two_svg {
    display: flex;
    flex-wrap: nowrap;
  }

  .stl_sect_two_lili {
    flex-basis: calc((100% - 72px) / 4);
  }
}

/*sect_three*/
.stl_sect_three {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.stl_h_med {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.stl_sect_three_li {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.stl_sect_three_lili {
  width: calc((100% - 48px) / 3);
  gap: 24px;
}
.stl_h_min_three {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.li_background {
  background-color: #fff;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.profil {
  padding: 32px 16px;
}
.our_team_p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.stl_sect_three_media {
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: 24px;
}
.stl_sect_three_media_li {
  width: 40px;
  height: 40px;
}
.media_a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media_a:focus,
.media_a:hover {
  background-color: #404bbf;
}
.media_svg {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .stl_sect_three_li {
    justify-content: center;
  }
}
@media screen and (min-width: 1158px) {
  .stl_sect_three {
    padding: 120px 0;
  }
}
