.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
section {
  display: block;
  unicode-bidi: isolate;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  position: relative;
}
header .logo_studio {
  color: #2e2f42;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
footer .logo_studio {
  color: #f4f4fd;
}
.nav-link {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover::after,
.nav-link:focus::after {
  width: 100%;
}
.contacts {
  font-style: normal;
}
.nav_li li:first-child .nav-link {
  color: #404bbf;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
.stl_footer {
  background-color: #2e2f42;
  padding: 100px 0;
  display: flex;
  align-items: baseline;
}
.stl_footer_p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.stl_button {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.stl_button:hover,
.stl_button:focus {
  background-color: #404bbf;
}

.stl_h_larg {
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
}
.stl_h_med {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.stl_sect_two .stl_sect_two_p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.stl_sect_two {
  padding: 120px 0;
}
.stl_h_min {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.sectionone {
  background-color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
}

.stl_sect_three {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.li_background {
  background-color: #fff;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our_team_p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.portfolio_p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .stl_nav {
  display: flex;
  align-items: center;
}
.header .container .stl_nav .nav_li {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header .container .contacts .contacts_li {
  display: flex;
  align-items: center;
  gap: 40px;
}
.stl_footer .container .logo {
  display: inline-block;
  margin-bottom: 16px;
}
.stl_sect_two_li {
  display: flex;
  gap: 24px;
}
h1 {
  margin-left: auto;
  margin-right: auto;
}
.stl_sect_two_lili {
  flex-basis: calc((100% - 72px) / 4);
}

.stl_sect_four {
  padding-top: 120px;
  padding-bottom: 120px;
}
.profil {
  padding: 32px 0;
}
.stl_sect_three .container,
.stl_sect_three_li .li_background .profil .stl_h_min {
  text-align: center;
}
.stl_sect_three_li {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.stl_sect_three_lili {
  width: calc((100% - 48px) / 3);
  gap: 24px;
}
.divfour {
  position: relative;
  overflow: hidden;
  border: 1px solid #e7e9fc;
  border-top: none;
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  flex-wrap: wrap;
}

.stl_sect_four_li {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}
.stl_sect_two_svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.stl_sect_three_media {
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: 24px;
}
.stl_sect_three_media_li {
  width: 40px;
  height: 40px;
}
.media_a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media_a:focus,
.media_a:hover {
  background-color: #404bbf;
}
.media_svg {
  fill: #f4f4fd;
}
.stl_sect_three_lili:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.stl_sect_four_li .stl_sect_three_lili {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.stl_footer_div {
  align-items: baseline;
  margin-right: 120px;
}
.footer_p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.stl_footer .container {
  display: flex;
  align-items: baseline;
}
.footer_li {
  display: flex;
  gap: 16px;
}
.footer_lili {
  width: 40px;
  height: 40px;
}
.footer_a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer_a:hover,
.footer_a:focus {
  background-color: #31d0aa;
}
.footer_svg {
  fill: #f4f4fd;
}
.stl_sect_four_p {
  position: absolute;
  top: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.stl_sect_four
  .container
  .stl_sect_four_li
  .stl_sect_three_lili
  .divfour_hover
  .stl_sect_four_p {
  width: 360px;
  height: 300px;
}
.divfour_hover {
  position: relative;
  overflow: hidden;
  border: 1px solid #e7e9fc;
  border-top: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 360px;
  height: 300px;
  /**/
}
.divfour_hover:hover .stl_sect_four_p {
  transform: translateY(0%);
}
.footer_subscribe_p {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer_form {
  display: flex;
  gap: 24px;
}
.footer_form_inpt {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.footer_form_inpt::placeholder {
  color: #ffffff;
}
.footer_form_btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.footer_form_svg {
  margin-left: 16px;
  fill: #fff;
}
.form_sub {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_form_sub {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal_form_sub_btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_form_sub_btn:hover,
.modal_form_sub_btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal_form_sub_svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_sub_p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form_sub_form_div {
  margin-bottom: 8px;
}
.form_sub_form_div_lbl {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.form_sub_div_user {
  position: relative;
}
.user_name_inp {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user_name_inp:focus {
  border-color: #4d5ae5;
}
.user_name_inp:focus-within + .form_sub_div_svg {
  fill: #4d5ae5;
}

.form_sub_div_svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.user_comment_textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_sub_form_div_div {
  margin-bottom: 16px;
}
.user_comment_textarea:focus {
  border-color: #4d5ae5;
}
.form_checkbox {
  margin-bottom: 24px;
}
.user-privacy_lbl {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.ttt {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.user-privacy:checked + .user-privacy_lbl span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.tttr {
  color: #4d5ae5;
}
.sent_btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: auto;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer_media {
  margin-right: 80px;
}
